/* darkmode.css */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #eee;
}

body.dark a {
  color: #aad8ff;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .section {
  background-color: #1e1e1e;
  color: #ccc;
}
